*.o
*.a

main
checker
simulator
listen_pps
route_telemetry
turn_off
inspect
log_telemetry
quick
playback
playserial
sim_spectrometer

*.bin
logs

aDIO/driver/*.ko
aDIO/driver/*.cmd
aDIO/driver/*.mod*
aDIO/driver/Module.symvers
aDIO/driver/modules.order
